.titleWrapper {
  position: relative;
}

.titleContent {
  position: relative;
  min-height: 2.75rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--tt-theme-text);
  outline: none;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  color: var(--placeholder-color);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}

@media screen and (max-width: 480px) {
  .titleWrapper {
    margin-bottom: 5px;
  }

  .titleContent {
    min-height: 2.5rem;
    font-size: 1.75rem;
  }

  .placeholder {
    font-size: 1.75rem;
  }
}
