.titleWrapper {
  --editor-title-font-size: 2.25rem;
  --editor-title-line-height: 1.2;

  position: relative;
}

.titleContent {
  position: relative;
  min-height: 2.75rem;
  font-size: var(--editor-title-font-size);
  font-weight: 700;
  line-height: var(--editor-title-line-height);
  color: var(--tt-theme-text);
  outline: none;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  color: var(--placeholder-color);
  font-size: var(--editor-title-font-size);
  font-weight: 700;
  line-height: var(--editor-title-line-height);
}

@media screen and (max-width: 480px) {
  .titleWrapper {
    --editor-title-font-size: 2rem;

    margin-bottom: 5px;
  }

  .titleContent {
    min-height: 2.5rem;
  }
}
